{
    "reporter": [
        "lcov",
        "text"
    ],
    "include": [
        "src"
    ],
    "lines": 94,
    "statements": 95,
    "functions": 93,
    "branches": 85,
    "check-coverage": true,
    "sourceMap": false,
    "instrument": false
}
